*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
    
}
.sidebar{
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background:rgb(50, 55, 80);
  

}
.sidebar header{
    font: size 40px;
    color:white;
    line-height:70px;
    background-color:rgba(9, 9, 70, 0.253);
    user-select:none;
    text-align:center;
}
.sidebar ul a {
    display:block;
    height: 100%;
    width: 100%;
    line-height: 90px;
    font-size: 20px;
    color:white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top :1px solid rgba(255,255,255, .1);
    border-bottom:3px solid black;
    transition: .3s;

}

ul li:hover a{
    padding-left: 60px;  
}

/* nav{
    height: 100px;
    width:100%;
    background-color: rgb(180, 107, 17);
    line-height: 75px;
    padding: 0px 100px;
    position: relative;
    

} */
/* nav .logo {
 height: 10em;

} */

/* nav ul{
    display:flex;
    justify-content:space-between;
    align-self: center;
    margin-top: 2em;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:0 0.05em;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 40px;
    padding: 0px 32px;

}
nav ul li a :hover{
    color: rgb(35, 24, 86)
} */
nav{
    height:100px;
    width:100%;
    background:gray;
    margin-left: 250px;    
}

nav ul li {
    list-style: none;
    display: inline-block;
    float:left;
    line-height: 100px;
    
}

nav ul li a {
    display:block;
    text-decoration:none;
    font-size: 20px;
    padding: 0 20px; 
    transition: .3s;
}
nav ul li a:hover {
  background:greenyellow;
}

    